:root {
  --color-primary: rgb(83, 143, 255);
  --color-secondary: rgb(46, 98, 194);
  --color-accent: rgb(0, 197, 0);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  background: linear-gradient(0deg, rgb(83, 143, 255), white);
  background-image: url(./pingpong.webp);
  background-repeat: no-repeat;
}

.title {
  font-size: 4.5rem;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 3rem 0;
  color: var(--color-accent);
  text-shadow: 0 0.5rem 1rem rgba(0, 255, 76, 0.452);
}

.container {
  max-width: 122rem;
  padding: 1rem;
  margin: auto;
}

.content-holder {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 1rem;
  height: max-content;
  backdrop-filter: blur(2rem);
}

.section-title {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-accent);
  text-shadow: 0 0 1.5rem black;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-sp-btwn {
  justify-content: space-between;
}

.flex-align-item-center {
  align-items: center;
}

.gap-2rem {
  gap: 2rem;
}

.gap-3rem {
  gap: 3rem;
}

.list {
  list-style-type: none;
  padding: 0;
  max-height: 48rem;
  overflow-y: scroll;
  border-radius: 1rem;
}

.item {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 1rem;
  background-color: rgba(211, 255, 210, 0.411);
}

.input {
  max-width: 37rem;
  padding: 1rem;
  font-size: 2rem;
  border: 0;
  border-radius: 1rem;
  border-bottom: 1px solid rgb(201, 201, 201);
  background-color: rgb(255, 255, 255);
}

.input:focus {
  outline: 0;
  border-bottom: 2px solid var(--color-accent);
}

.btn {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  border: 0;
  color: rgb(94, 255, 0);
  width: fit-content;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  color: var(--color-accent);
}

.error-msg {
  color: rgb(255, 101, 101);
  font-size: 1.5rem;
}

.submit-btn {
  align-self: end;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-accent);
}

.submit-btn:hover {
  background-color: var(--color-accent);
  color: white;
}

.gold {
  color: rgb(255, 251, 0);
}

.silver {
  color: rgb(228, 228, 228);
}

.bronz {
  color: rgb(146, 66, 13);
}

@keyframes refresh {
  from {
    transform: rotate(0deg);
    text-shadow: 0 0 1rem white;
  }

  to {
    transform: rotate(360deg);
    text-shadow: 0 0 1rem white;
  }
}

.spin {
  animation-name: refresh;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 550px) {
  .d-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
